.top-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    border-bottom: solid 1px #ddd;
}

/* HEADER */
header {
    display: grid;
    grid-template-columns: 24px auto 44px;
    padding: 5px 0 5px 10px;
    align-items: end;
    column-gap: 8px;
}

header img {
    display: block;
    width: 100%;
    width: 200;
    height: 200;
}

header span {
    font-size: 1.2rem;
    color: #3D405B;
}

/* HAMBURGER NAVIGATION */

.hamburger {
    background-color: transparent;
    border: none;
    color: #3D405B;
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.hamburger::before {
    content: "\2630";
}


.hamburger.show::before {
    content: "\00D7";
}

/*  NAVIGATION */
.navigation {
    display: none;
}

.navigation.show {
    display: block;
}

.navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navigation a {
    display: block;
    padding: .8rem 10px;
    color: #3D405B;
    text-decoration: none;
    border-bottom: solid 1px #ddd;
}

.navigation li.current {
    background-color: #eee;
}

.navigation a:hover {
    background-color: #E07A5F;
}


h1 {
    margin-left: 10px;
    color: #3D405B;
    font-size: 1.5rem;
}

/*  footer */
footer {
    background-color: #eee;
    padding: 1rem 10px;
    text-align: center;
}

.social {
    display: flex;
    justify-content: center;
    column-gap: 8px;

}

.social a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border: #ccc dashed 1px;
    border-radius: 22px;
}

.social img {
    width: 22px;
    height: 22px;
}

.social a:hover {
    background-color: #ddd;
}

/* cards for the companies */

/* Card styling */
.member-card {
    border: 1px solid #ddd;
    padding: 1rem;
    margin: 1rem 0;
    background-color: #f9f9f9;
    border-radius: 8px;
}

/* Top of the card */
.member-card h2 {
    margin: 0 0 0.5rem 0;
    color: #3D405B;
}

.member-card .phone {
    margin: 0 0 1rem 0;
    font-weight: bold;
}

/* Flex container: image left, info right */
.member-card .card-content {
    display: flex;
    gap: 1rem;
    align-items: flex-start;
}

/* Image box */
.member-card .card-content img {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 8px;
}

/* Info box */
.member-card .card-content .info {
    flex: 1;
}

/* Optional: links styling */
.member-card .card-content .info a {
    color: #E07A5F;
    text-decoration: none;
}

.member-card .card-content .info a:hover {
    text-decoration: underline;
}