/* HEADER */

header {
    display: grid;
    grid-template-columns: 24px auto 44px;
    padding: 5px 0 5px 10px;
    align-items: end;
    border-bottom: solid 1px #ddd;
    column-gap: 8px;
}

header img {
    display: block;
    width: 100%;
    height: auto;
    padding-bottom: 5px;
}

header span {
    font-size: 1.2rem;
    color: #3D405B;
}

/* HAMBURGER NAVIGATION */

.hamburger {
    background-color: none;
    border: none;
    color: #3D405B;
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.hamburger::before {
    content: "\2630";
}


.hamburger.show::before {
    content: "\00D7";
}

/*  NAVIGATION */
.navigation {
    display: none;
}

.navigation.show {
    display: block;
}

.navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navigation a {
    display: block;
    padding: .8rem 10px;
    color: #3D405B;
    text-decoration: none;
    border-bottom: solid 1px #ddd;
}

.navigation li.current {
    background-color: #eee;
}

.navigation a:hover {
    background-color: #E07A5F;
}


h1 {
    margin-left: 10px;
    color: #3D405B
}

/*  footer */
footer {
    background-color: #eee;
    padding: 1rem 10px;
    text-align: center;
}

.social {
    display: flex;
    justify-content: center;
    column-gap: 8px;

}

.social a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border: #ccc dashed 1px;
    border-radius: 22px;
}

.social img {
    width: 22px;
    height: 22px;
}

.social a:hover {
    background-color: #ddd;
}

/* aqui empeze agregar test */
main {
    max-width: 1100px;
    margin: 0 auto;
    padding: 1rem;
}

h1 {
    font-size: 1.5rem;
    color: #3D405B;
}

.section {
    background-color: #f9f9f9;
    border-radius: 8px;
    margin: 8px;
    overflow: hidden;
    text-align: center;
}

.section h2 {
    background-color: #3D405B;
    color: #fff;
    font-weight: 400;
    font-size: 1.25rem;
    margin: 0;
    padding: .6rem;
}

.section p {
    margin: 1rem;
    line-height: auto;
}

.student-photo img {
    display: block;
    max-width: 250px;
    width: 100%;
    margin: 1rem auto;
    border-radius: 6px;
}


.filters {
    display: flex;
    justify-content: center;
    gap: .5rem;
    margin: 1rem 0;
}

.filters button {
    padding: .75rem;
    border-radius: 10px;
    border: 1px solid #999;
    cursor: pointer;
    background-color: #F4F1DE;
}

.filters button:hover {
    background-color: #E07A5F;
}

.course-list {
    display: grid;
    grid-template-columns: 1fr;
    gap: .75rem;
    margin: 1rem;
}