@media only screen and (min-width: 38rem) {

    header,
    main,
    nav,
    footer {
        max-width: 900px;
        margin: 0 auto;
    }

    header {
        grid-template-columns: 24px auto;
    }

    .hamburger {
        display: none;
    }

    .navigation {
        display: block;
        border-bottom: solid 1px #eee;
    }

    .navigation ul {
        display: flex;
    }

    .navigation a {
        border: none;
    }

    /* aqui empeze agregar test */
    .top-sections {
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 2rem;
        align-items: start;
    }
d
    .courses {
        margin-top: 2rem;
    }

    #courses {
        grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    }

    .filters {
        max-width: 400px;
    }
}